{% extends 'rpanel/base.html' %} {%load static%}
{% block title %}
Orders
{% endblock %}

{% block content %}


<!-- header section -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <img
          src="{% static 'rpanel/img/chef.svg' %}"
          class="img-responsive img-circle tm-border"
          alt="templatemo easy profile"
        />
        <hr />
        <h1 style="text-align:center">{{info.name}}</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
{% for key, value in my_orders.items %} 


        <div class="card">
            <div class="card-body">
            <h4 class="card-title" style='color:black'> Customer: <strong>{{ value.name }}</strong></h4>
            <p style="margin-right:5rem;">When: {{value.day}}</p>
            <hr />
            <p>Dishes:</p>
            {%for k, v in value.order.items %}
            {% if k == "address" %}
            <p style="text-align:right"><strong>Address: </strong>{{v}}</p>
            {% elif k == "is_bot"%}
            <p style="text-align:right"><strong>Table Service: </strong> {{v}}</p>
            {% elif k == "total" %}
            <p style="text-align:right"><strong>Total:</strong> {{v}} </p>
            {% elif k == "order_status" %}
            <form method='POST' action="{% url 'rpanel:updatestatus' value.customer_id value.ts %}">
            {% csrf_token %}
            <label for="title">Order status:<b>{{value.status}}</b> -- Change --> 
            <select class="select dark" name="orderstatus">
            <option value="accepted">Accepted</option>
            <option value="preparing">Preparing</option>
            <option value="delivering">Delivering</option>
            <option value="completed">Completed</option>
          </select>
        </label>
            <button class="btn btn-success" type="submit">Update Status</button>
            </label>
            </form>    
            
            {%else%}
            {{v.item}}x{{v.quantity}}
            {%endif%}
            {% endfor %}
            
             
        </div>
        </div>
        <br>
    {% endfor %}
</div>

{% endblock %}