{% extends 'food/base.html' %} {% load static %} 
{%block title%}
Orders
{% endblock %}
{% block content %}
<style>
body {
  background: #02053b;
}
</style>
<div class="container-md" style="background-color: #02053b; padding:20px">
{%if my_orders != None %}
{% for timestamp, value in my_orders.items %}
<div class="card" style="margin:auto">
  <div class="card-body">
            <h4 class="card-title" style='color:black'> Restaurant: <strong>{{ value.rest_name }}</strong></h4>
            <p style="margin-right:5rem;">When: {{value.ts}}</p>
            <hr />
            <section class="cart">
              <div class="container">
                  <div class="row">      
                      {%for k, v in value.order.items %}
                      {% if k != 'is_bot' and k != 'address' and k != 'total' and k != 'order_status' %}
                              <div class="cart-row">
                                <div style="flex: 2"></div>
                                <div style="flex: 2"><strong>Item</strong></div>
                                <div style="flex: 1"><strong>Price</strong></div>
                                <div style="flex: 1"><strong>Quantity</strong></div>
                              </div>
                              <div class="cart-row">
                                    <div style="flex: 2">
                                      <img class="row-image" src="{{v.url}}" alt="not Available" />
                                    </div>
                                <div style="flex: 2"><p>{{v.item}}</p></div>
                                <div style="flex: 1"><p>${{v.price|floatformat:2}}</p></div>
                                <div style="flex: 1"><p>{{v.quantity}}</p></div>
                              </div>
                      {%elif k == 'order_status' %}
                      <p style="text-align:right">STATUS: <b>{{v}}</b>
                      {%elif k == 'address' %}
                      <p>Address: {{v}}
                      {%elif k == 'total' %}
                      <p>Total: € <b>{{v}}</b>
                      {% endif %} 
                      {% endfor %}
                </div>
              </div>
            </section>
  </div>
  
</div>
<hr>
{%endfor%}
{%else%}
<h1 style="color:white">No Orders in your history</h1>
{% endif %}
</div>


{% endblock content %}
