{% extends 'food/base.html' %} {% load static %} {% block content %}
{% if last_order != Null %}
<section class="cart">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
          <h4 style="text-align: center">
            Dear {{user}}, the following one is your last accepted order
            followed by your history orders
          </h4>

          <br />
          <br />

          <table class="table">
            <tr>
              <th>
                <h5>
                  Items:
                  <strong
                    >{% for key, value in last_order.items %}
                    <br />{{value.item}} x {{value.quantity}}<br />
                    {%endfor%}
                  </strong>
                </h5>
              </th>
              <th>
                <h5>Total:<strong> €{{tot|floatformat:2}}</strong></h5>
              </th>
            </tr>
          </table>
        </div>

        <br />
        <div class="box-element">
          <div class="cart-row">
            <div style="flex: 2"></div>
            <div style="flex: 2"><strong>Item</strong></div>
            <div style="flex: 1"><strong>Price</strong></div>
            <div style="flex: 1"><strong>Quantity</strong></div>
          </div>
          {% for key, value in last_order.items %}
          <div class="cart-row">
            <div style="flex: 2">
              <img class="row-image" src="{{value.url}}" alt="not Available" />
            </div>
            <div style="flex: 2"><p>{{value.item}}</p></div>
            <div style="flex: 1"><p>${{value.price|floatformat:2}}</p></div>
            <div style="flex: 1"><p>{{value.quantity}}</p></div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{%endif%}
<section class="cart">
<div class="container-md">
<div class="row">
      <div class="col-lg-12">
{%for rkey, value in orders.items %}
<p>{{rkey}} </p>
<p>{% for day,val in value.items%}</p>

<p>{{day}} - TIME (dd/mm/yyyy/h/m/s)</p>

  <div class="cart-row">
    <div style="flex: 2"></div>
    <div style="flex: 2"><strong>Item</strong></div>
    <div style="flex: 1"><strong>Price</strong></div>
    <div style="flex: 1"><strong>Quantity</strong></div>
  </div>
  {% for dkey, v in val.items%}
  {% if dkey != 'is_bot' and dkey != 'address' and dkey != 'total' %}
  <div class="cart-row">
    <div style="flex: 2">
      <img class="row-image" src="{{v.url}}" alt="not Available" />
    </div>
    <div style="flex: 2"><p>{{v.item}}</p></div>
    <div style="flex: 1"><p>${{v.price|floatformat:2}}</p></div>
    <div style="flex: 1"><p>{{v.quantity}}</p></div>
  </div>
      {% endif %} {% endfor %} {% endfor %}
    {% endfor %}
    </div>
    </div>
</div>
</section>
    <div class="container-fluid"></div>
    {% endblock content %}
  </div>
</div>
