{% extends 'rpanel/base.html' %}
{% block title %}
Menu
{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="container p-3 my-3 bg-add effect8 text-white text-center">
        <label for="title"><h1>Add new item to your menu</h1></label>
        <form action="{% url 'rpanel:postmenu' %}" method="POST">
        {% csrf_token %}
        <label for="title"><b>Menu Section</b>
        <select class="select dark" name="item-section">
            <option value="starter">Starters</option>
            <option value="burger">Burgers</option>
            <option value="pizza">Pizzas</option>
            <option value="maindish">Main dishes</option>
            <option value="dessert">Desserts</option>
            <option value="drink">Drinks</option>
          </select>
        </label>
        <br><br>
        <label for="title"><b>Item Name</b>
        <input type="text" name="item-name"><br><br>
        Item Description: <br>
    <textarea rows="4" cols="50" name="item-description"></textarea><br><br>
    <input type="number" min="0.00" max="10000.00" step="0.01"  placeholder="Price € " name="item-price"> € (Euro) <br><br>
    <label for="image"><h2>Upload image: </h2></label>
    <input type="file" name="file[]" id="files">
    <input type="hidden" name="url" id="url">
    <button type="button" onclick="uploadimage()">Upload</button> <br><br>
    <input type="checkbox" checked="checked" name="available"> Availability
    <br><br>
    <input type="submit" class="btn btn-primary btn-block" value="Add Item">
    </form>
    </div>
    
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="container p-3 my-3 bg-change effect8 text-white text-center">
        <label for="title"><h1>Change Item in your Menu</h1></label>
        <form action="{% url 'rpanel:postmenu' %}" method="GET" id="s">
          {% csrf_token %}
        <input type="text" placeholder="Search..." name="search">
        <input type="hidden" value="{{ uid }}" name="uid">
        <br><br>
        <input type="submit" class="btn btn-primary btn-block" value="Go!" form="s">
    </form>
    </div>
      
    </div>
  </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-storage.js"></script>
  <script>
    var config = {
    'apiKey': "AIzaSyCNUQyDSE8LglsRzQGpk8OJGvTj2IyicT4",
    'authDomain': "ordereat-94887.firebaseapp.com",
    'databaseURL': "https://ordereat-94887.firebaseio.com",
    'projectId': "ordereat-94887",
    'storageBucket': "ordereat-94887.appspot.com",
    'messagingSenderId': "89417842986",
    'appId': "1:89417842986:web:162875424095cecd65de53",
    'measurementId': "G-BHVSYJK293"
  };
  firebase.initializeApp(config);
  

  //Get reference of the storage service, which is used to create references
  function uploadimage(){
    var storage = firebase.storage();
    var storageRef = storage.ref();
    var file = document.getElementById("files").files[0];
    var rest_id = "{{ uid }}";

    var thisRef = storageRef.child('restaurants/'+ rest_id + '/'+file.name).put(file);

    thisRef.on('state_changed', function(snapshot){
      console.log('file uploaded successfully');
    },
    function(error){
    },
    function() {
    // Handle successful uploads on complete
    // For instance, get the download URL: https://firebasestorage.googleapis.com/...
    thisRef.snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('File available at', downloadURL);
    document.getElementById("url").value = downloadURL;
    alert("file uploaded successfully");
  });
});
};



  


  </script>
  



{% endblock %}