{% extends 'food/base.html' %}
{% block title %}
menu
{% endblock %}

{% block content %}
    <h2 class="title">Menu Page </h2>

    <section class="menu_list">
        <div class="container-md">
           <div class="row">
              <div class="col-xl-12">
                 <div class="section-title text-center mb-60">
                    <p>Famous for your good food</p>
                    <h4>Your menu</h4>
                 </div>
              </div>
           </div>
           <div class="row">
              <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
                 <li class="nav-item">
                    <a class="nav-link" id="starter-tab" data-toggle="tab" href="#starter" role="tab" aria-selected="true">Starters</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" id="pizza-tab" data-toggle="tab" href="#pizza" role="tab" aria-selected="false">Pizzas</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" id="burger-tab" data-toggle="tab" href="#burger" role="tab" aria-selected="false">Burgers</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" id="maindish-tab" data-toggle="tab" href="#maindish" role="tab" aria-selected="false">Main Dishes</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" id="dessert-tab" data-toggle="tab" href="#dessert" role="tab" aria-selected="false">Desserts</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" id="drink-tab" data-toggle="tab" href="#drink" role="tab" aria-selected="false">Drinks</a>
                 </li>
              </ul>
           </div>
           <div class="row">
              <div class="tab-content col-xl-12" id="myTabContent">
                 <div class="tab-pane fade" id="starter" role="tabpanel" aria-labelledby="starter-tab">
                    <div class="row">
                       <div class="col-md-6">
                          {% for key, value in data.items %}
                             {% if value.section == 'starter' %}
                          <div class="single_menu_list">
                             <img src="" alt="Not Available">
                                <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                <p> {{ value.description }}</p>
                          </div>
                             {% endif %}
                             {% endfor %}
                       </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="pizza" role="tabpanel" aria-labelledby="pizza-tab">
                    <div class="row">
                       <div class="col-md-6">
                          {% for key, value in data.items %}
                             {% if value.section == 'pizza' %}
                          <div class="single_menu_list">
                             <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                                <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                <p> {{ value.description }}</p>
                             
                          </div>
                             {% endif %}
                             {% endfor %}
                       </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="burger" role="tabpanel" aria-labelledby="burger-tab">
                    <div class="row">
                       <div class="col-md-6">
                          {% for key, value in data.items %}
                             {% if value.section == 'burger' %}
                          <div class="single_menu_list">
                             <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                             
                                <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                <p> {{ value.description }}</p>
                             
                          </div>
                             {% endif %}
                             {% endfor %}
                          </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="maindish" role="tabpanel" aria-labelledby="maindish-tab">
                    <div class="row">
                       <div class="col-md-6">
                          {% for key, value in data.items %}
                             {% if value.section == 'maindish' %}
                          <div class="single_menu_list">
                             <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                             
                                <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                <p> {{ value.description }}</p>
                             
                          </div>
                             {% endif %}
                             {% endfor %}
                          </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="dessert-tab">
                    <div class="row">
                       <div class="col-md-6">
                          {% for key, value in data.items %}
                             {% if value.section == 'dessert' %}
                          <div class="single_menu_list">
                             <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                             
                                <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                <p> {{ value.description }}</p>
                             
                          </div>
                             {% endif %}
                             {% endfor %}
                          </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="drink-tab">
                    <div class="row">
                       <div class="col-md-6">
                          {% for key, value in data.items %}
                             {% if value.section == 'drink' %}
                          <div class="single_menu_list">
                             <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                             
                                <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                <p> {{ value.description }}</p>
                             
                          </div>
                             {% endif %}
                             {% endfor %}
                          </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xl-12 text-center">
                 <div class="box_btn">
                    <a href="">Edit Menu</a>
                 </div>
              </div>
           </div>
        </div>
     </section>


{% endblock %}